src/service/BanqueServiceXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/BanqueServiceXMLSchema" xmlns:tns="http://www.example.org/BanqueServiceXMLSchema" elementFormDefault="qualified">

    

    <element name="BanqueService" type="tns:BanqueService"></element>
    
    <complexType name="BanqueService">
    	<sequence>
    		<element name="conversion" type="tns:conversion"></element>
    		
    	</sequence>
    </complexType>
    



    <complexType name="conversion">
    	<sequence>
    		<element name="montant " type="string"></element>
    	</sequence>
    </complexType>
</schema>